<? AddRow JSLoop HREF=/modfiles/global/webadmin/webadmin.js ?>
<? INC Header.tmpl ?>

<h1>Add/Edit Network</h1>
<div class="alert alert-info">To connect to this network from your IRC client, you can set the server password field as follows: <code><? VAR Username ?>/<? IF Edit ?><? VAR Name ?><? ELSE ?>&lt;network&gt;<? ENDIF ?>:&lt;password&gt;</code> or username field as <code><? VAR Username ?>/<? IF Edit ?><? VAR Name ?><? ELSE ?>&lt;network&gt;<? ENDIF ?></code>.</div>

<form action="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?><? IF Edit ?>editnetwork<? ELSE ?>addnetwork<? ENDIF ?>" method="post">
	<? INC _csrf_check.tmpl ?>
	<input type="hidden" name="submitted" value="1" />
	<input type="hidden" name="user" value="<? VAR Username ?>" />
	<? IF Edit ?><input type="hidden" name="network" value="<? VAR Name ?>" /><? ENDIF ?>
  <h2>Network Info</h2>
  
  <p>Nick, AltNick, Ident, RealName, BindHost can be left empty to use the value from the user.</p>

  <table class="table">
  
	<? IF !Edit ?>
    <tr>
      <td><strong>Network Name:</strong></td>
      <td><input type="text" name="network" size="40" value="<? VAR Name ?>" class="half" maxlength="128" title="The name of the IRC network." /></td>
    </tr>
    <? ENDIF ?>

    <tr>
      <td><strong>Nickname:</strong></td>
      <td><input type="text" size="40" name="nick" value="<? VAR Nick ?>" class="half" maxlength="128" title="Your nickname on IRC." /></td>
    </tr>
    
    <tr>
      <td><strong>Alt. Nickname:</strong></td>
      <td><input type="text" size="40" name="altnick" value="<? VAR Nick ?>" class="half" maxlength="128" title="Your nickname on IRC." /></td>
    </tr>
    
    <tr>
      <td><strong>Ident:</strong><br />This is enforced to your username for abuse prevention purposes</td>
      <td><input type="text" name="ident" size="40" value="<? VAR Ident ?>" class="half" maxlength="128" title="The Ident identifies you as one specific user of your host." <? IF !IsAdmin ?><? IF !IsSubscriber ?>disabled<? ENDIF ?><? ELSE ?><? ENDIF ?> /></td>
    </tr>
    
    <tr>
      <td><strong>Realname:</strong></td>
      <td><input type="text" name="realname" size="40" value="<? VAR RealName ?>" class="full" maxlength="256" title="Your real name." /></td>
    </tr>
    
    <? IF BindHostEdit ?>
    <tr>
      <td><strong>BindHost:</strong></td>
			<? IF BindHostLoop ?>
			<td><select name="bindhost">
			  <option value="">- Default -</option>
				<? LOOP BindHostLoop ?><option value="<? VAR BindHost ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? VAR BindHost ?></option><? ENDLOOP ?>
				</select>
			<? ELSE ?>
				<input type="text" size="40" name="bindhost" value="<? VAR BindHost ?>"/>
			<? ENDIF ?>
    </tr>
    <? ENDIF ?>
    
    <tr>
      <td><strong>Active:</strong><br />Connect to IRC &amp; automatically re-connect</td>
      <td><input type="checkbox" name="doconnect" id="doconnect_checkbox"<? IF IRCConnectEnabled ?> checked="checked"<? ENDIF ?> /></td>
    </tr>
    
    <tr>
      <td><strong>Servers:</strong><br />One server per line, "host [[+]port] [password]", + means SSL</td>
      <td><textarea name="servers" cols="70" rows="5"<? IF !IsAdmin ?><? IF !IsSubscriber ?> readonly<? ENDIF ?><? ENDIF?>><? LOOP ServerLoop ?><? VAR Server ?>
<? ENDLOOP ?>
</textarea></td>
    </tr>
    
    <tr>
      <td><strong>Flood Protection Enabled:</strong></td>
      <td><input type="checkbox" name="floodprotection" id="floodprotection_checkbox"
							   title="You might enable the flood protection. This prevents `excess flood' errors, which occur, when your IRC bot is command flooded or spammed."
							onchange="floodprotection_change();"
							<? IF FloodProtection ?>checked="checked"<? ENDIF ?> /></td>
    </tr>
    
    <tr>
      <td><strong>Flood Protection Rate:</strong><br />How many seconds to wait per line</td>
      <td><input type="number" name="floodrate" min="0.3" step="0.05" id="floodrate"
						   title="The number of seconds per line."
						<? IF FloodProtection ?> value="<? VAR FloodRate ?>" <? ELSE ?> value="1.00" disabled="disabled" <? ENDIF ?>></td>
    </tr>
    
    <tr>
      <td><strong>Flood Protection Burst:</strong><br />How many lines should be sent immediately</td>
      <td><input type="number" name="floodburst" min="1" id="floodburst"
						   title="Defines the number of lines, which can be sent immediately."
						<? IF FloodProtection ?> value="<? VAR FloodBurst ?>" <? ELSE ?> value="4" disabled="disabled" <? ENDIF ?>></td>
    </tr>
  </table>

  <h2>Channels</h2>
	<? IF !Edit ?>
	<p>You will be able to add + modify channels here after you have created the network.</p><br />
	<? ELSE ?>
	<table class="table">
    <thead>
      <tr>
        <td><strong><a href="addchan?user=<? VAR Username ESC=URL ?>&amp;network=<? VAR Name ESC=URL ?>">Add</a></strong></td>
        <? IF ChannelLoop ?>
        <td><strong>Save</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>CurModes</strong></td>
        <td><strong>DefModes</strong></td>
        <td><strong>BufferCount</strong></td>
        <td><strong>Options</strong></td>
        <? ELSE ?>
        <td>&lt;- Add a channel (opens in same page)</td>
        <? ENDIF ?>
      </tr>
    </thead>

    <tbody>
		  <? LOOP ChannelLoop SORTASC=Name ?>
			<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
				<td>
					<input type="hidden" name="channel" value="<? VAR Name ?>" />
					<strong><a href="editchan?user=<? VAR Username ESC=URL ?>&amp;network=<? VAR Network ESC=URL ?>&amp;name=<? VAR Name ESC=URL ?>">Edit</a></strong> / <strong><a href="delchan?user=<? VAR Username ESC=URL ?>&amp;network=<? VAR Network ESC=URL ?>&amp;name=<? VAR Name ESC=URL ?>">Delete</a></strong>
				</td>
				<td><input type="checkbox" name="save_<? VAR Name ?>"<? IF InConfig ?> checked="checked"<? ENDIF ?> /></td>
				<td><? VAR Name ?></td>
				<td><? VAR CurModes ?></td>
				<td><? VAR DefModes ?></td>
				<td><? VAR BufferCount ?></td>
				<td><? VAR Options ?></td>
			</tr>
		  <? ENDLOOP ?>
		</tbody>
	</table>
  <? ENDIF ?>

  <h2>Modules</h2>
  <table class="table">
    <thead>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Arguments</strong></td>
        <td><strong>Description</strong></td>
      </tr>
    </thead>
    <tbody>

      <? LOOP ModuleLoop ?>
			<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
				<td class="mod_name">
			    <input type="checkbox" name="loadmod" id="lm_<? VAR Name ?>" value="<? VAR Name ?>"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /> <label for="lm_<? VAR Name ?>"> <? IF Wiki ?><a href="http://wiki.znc.in/<? VAR Wiki ?>"><? VAR Name ?></a> <? ELSE ?> <? VAR Name ?> <? ENDIF ?></label>
				</td>
				<td class="mod_args">
					<? IF Disabled ?>
					<? VAR Args ?>
					<? ELSE ?>
					<input class="third" size="30" type="text" name="modargs_<? VAR Name ?>" value="<? VAR Args ?>"
					<? IF !HasArgs ?> disabled="disabled"<? ENDIF ?>
					<? IF ArgsHelpText ?> title="<? VAR ArgsHelpText ?>"<? ENDIF ?> />
					<? ENDIF ?>
				</td>
				<td class="mod_descr"><? VAR Description ?></td>
			</tr>
		  <? ENDLOOP ?>
    </tbody>
  </table>

	<? LOOP EmbeddedModuleLoop ?>
  <? IF Embed ?>
  <h2>Module <? VAR ModName ?></h2>
  <? INC *Embed ?>
  <? ENDIF ?>
	<? ENDLOOP ?>

  <input type="submit" class="btn btn-success" value="<? IF Edit ?>Save<? ELSE ?>Add Network<? ENDIF ?>" />
</form>

<? INC Footer.tmpl ?>
