<? INC Header.tmpl ?>

<h1>Confirm Network Deletion</h1>
<p>Are you <strong>sure</strong> you want to delete "<? VAR Username ?>/<? VAR Network ?>"?</p>
<form action="delnetwork" method="post">
  <? INC _csrf_check.tmpl ?>
  <input type="hidden" name="user" value="<? VAR Username ?>" />
  <input type="hidden" name="name" value="<? VAR Network ?>" />
  <input class="btn btn-danger" type="submit" value="Yes" />
</form>

<? INC Footer.tmpl ?>
