<? INC Header.tmpl ?>

    <h1>User List</h1>
		<?IF !UserLoop?>
		<p>
			There are no users defined. Click <a href="adduser">here</a> if you would like to add one.
    </p>
		<?ELSE?>
		<table class="table">
			<thead>
			  <tr>
					<td><strong>Action</strong></td>
					<td><strong>Username</strong></td>
          <td><strong>Networks</strong></td>
					<td><strong>Clients</strong></td>
				</tr>
			</thead>

			<tbody>
			<?LOOP UserLoop SORTASC=Username ?>
					<tr class="<?IF __EVEN__?>evenrow<?ELSE?>oddrow<?ENDIF?>">
						<td>
							<span class="nowrap">
								<strong><a href="edituser?user=<?VAR Username ESC=URL?>">Edit</a></strong> /
								<strong><a href="adduser?clone=<? VAR Username ESC=URL ?>" alt="Clone <? VAR Username ESC=URL ?>">Clone</a></strong> 
								<? IF !IsSelf ?>/ <strong><a href="deluser?user=<?VAR Username ESC=URL?>">Delete</a></strong><? ENDIF ?>
							</span>
						</td>
						<td><? VAR Username ?></td>
                        <td><? VAR Networks ?></td>
						<td><? VAR Clients ?></td>
					</tr>
			<?ENDLOOP?>
					</tbody>
				</table>
			</div>
		<?ENDIF?>

<? INC Footer.tmpl ?>
