<? INC Header.tmpl ?>

  <h1>ZNC Settings</h1>
  <h2>Listen Port(s)</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Port</td>
          <td>BindHost</td>
          <td>SSL</td>
          <td>IPv4</td>
          <td>IPv6</td>
          <td>IRC</td>
          <td>Web</td>
        </tr>
      </thead>
 
      <? LOOP ListenLoop ?>
      <tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
        <td><? VAR Port ?></td>
        <td><? VAR BindHost DEFAULT=** ?></td>
        <td>
          <div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsSSL ?>checked="checked"<? ENDIF ?>/></div>
        </td>
        <td>
          <div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsIPV4 ?>checked="checked"<? ENDIF ?>/></div>
        </td>
        <td>
          <div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsIPV6 ?>checked="checked"<? ENDIF ?>/></div>
        </td>
        <td>
          <div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsIRC ?>checked="checked"<? ENDIF ?>/></div>
        </td>
        <td>
          <div class="checkbox"><input type="checkbox" disabled="disabled" <? IF IsWeb ?>checked="checked"<? ENDIF ?>/></div>
        </td>
        <td>
          <? IF SuggestDeletion ?>
          <form action="del_listener" method="post">
            <? INC _csrf_check.tmpl ?>
            <input name="host" type="hidden" value="<? VAR BindHost ?>"/>
            <input name="port" type="hidden" value="<? VAR Port ?>"/>
            <input name="ipv4" type="hidden" value="<? VAR IsIPV4 ?>"/>
            <input name="ipv6" type="hidden" value="<? VAR IsIPV6 ?>"/>
            <input type="submit" class="btn btn-danger" value="Del"/>
          </form>
          <? ENDIF ?>
        </td>
      </tr>
      <? ENDLOOP ?>
      <tr>
        <form action="add_listener" method="post">
          <? INC _csrf_check.tmpl ?>
          <td><input name="port" type="number" size="6" min="1" max="65535" class="number"/></td>
          <td><input name="host" type="text" size="15" value="*" class="third"/></td>
          <td><div class="checkbox"><input name="ssl" type="checkbox"/></div></td> 
          <td><div class="checkbox"><input name="ipv4" type="checkbox" checked="checked"/></div></td>
          <td><div class="checkbox"><input name="ipv6" type="checkbox" checked="checked"/></div></td>
          <td><div class="checkbox"><input name="irc" type="checkbox" checked="checked"/></div></td>
          <td><div class="checkbox"><input name="web" type="checkbox" checked="checked"/></div></td>
          <td><input type="submit" class="btn btn-success" value="Add"/></td>
        </form>
      </tr>
    </table>

    <form class="form" action="settings" method="post"><br />
    <? INC _csrf_check.tmpl ?>
    <input type="hidden" name="submitted" value="1" />
  
    <h2>Settings</h2>
    <table class="table">
      <tr>
        <td><strong>Skin:</strong></td>
        <td><select name="skin">
        <? LOOP SkinLoop ?>
        <option value="<? VAR Name ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? IF Name == "_default_" ?>Default<? ELSE ?><? VAR Name ?><? ENDIF ?></option>
        <? ENDLOOP ?>
        </select>
        </td>
      </tr>

      <tr>
        <td><strong>Status Prefix:</strong><br />Default for new users only.</td>
        <td><input size="40" type="text" name="statusprefix" value="<? VAR StatusPrefix ?>" title="The prefix for the status and module queries."/>
        </td>
      </tr>

      <tr>
        <td><strong>Maximum Buffer Size:</strong><br />Default for new users only.</td>
        <td><input size="40" type="text" name="maxbufsize" value="<? VAR MaxBufferSize ?>" title="Sets the global Max Buffer Size a user can have."/>
        </td>
      </tr>

      <tr>
        <td><strong>Connect Delay:</strong></td>
        <td><input size="40" type="text" name="connectdelay" value="<? VAR ConnectDelay ?>" title="The time every connection will be delayed, in seconds. Some servers refuse your connection if you reconnect too fast. This affects the connection between ZNC and the IRC server; not the connection between your IRC client and ZNC. "/>
        </td>
      </tr>

      <tr>
        <td><strong>Server Throttle:</strong></td>
        <td><input size="40" type="text" name="serverthrottle" value="<? VAR ServerThrottle ?>" title="The time between two connect attempts to the same hostname." />
        </td>
      </tr>

      <tr>
        <td><strong>Anonymous IP Limit:</strong></td>
        <td><input size="40" type="text" name="anoniplimit" value="<? VAR AnonIPLimit ?>" title="Limits the number of unidentified connections per IP." />
        </td>
      </tr>

      <tr>
        <td><strong>Protect Web Sessions:</strong></td>
        <td><input type="checkbox" name="protectwebsessions" id="protectwebsessions_checkbox"<? IF ProtectWebSessions ?> checked="checked"<? ENDIF ?> />
        </td>
      </tr>

      <tr>
        <td><strong>MOTD:</strong></td>
        <td><textarea name="motd" cols="70" rows="5" class="monospace"><? LOOP MOTDLoop ?><? VAR Line ?>
<? ENDLOOP ?>
</textarea>
        </td>
      </tr>

      <tr>
        <td><strong>BindHosts:</strong></td>
        <td><textarea name="bindhosts" cols="70" rows="8"><? LOOP BindHostLoop ?><? VAR BindHost ?>
<? ENDLOOP ?>
</textarea>
        </td>
      </tr>
    </table>

    <h2>Global Modules</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Arguments</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
      <? LOOP ModuleLoop ?>
      <tr>
        <td><input type="checkbox" name="loadmod" id="lm_<? VAR Name ?>" value="<? VAR Name ?>"
          <? IF Checked ?> checked="checked"<? ENDIF ?>
          <? IF Disabled ?> disabled="disabled"<? ENDIF ?> />
          <label for="lm_<? VAR Name ?>">
          <? IF Wiki ?><a href="http://wiki.znc.in/<? VAR Wiki ?>"><? VAR Name ?></a>
          <? ELSE ?> <? VAR Name ?> <? ENDIF ?></label>
        </td>
        <td><input size="30" type="text" name="modargs_<? VAR Name ?>" value="<? VAR Args ?>"
          <? IF !HasArgs ?> disabled="disabled"<? ENDIF ?>
          <? IF ArgsHelpText ?> title="<? VAR ArgsHelpText ?>"<? ENDIF ?> />
        </td>
	<td><? VAR Description ?></td>
      </tr>
      <? ENDLOOP ?>
    </tbody>
  </table>

  <input type="submit" class="btn btn-success" value="Save" />
</form>

<? INC Footer.tmpl ?>
