<? INC Header.tmpl ?>

<h1>Last Seen</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <td>User</td>
      <td>Last Seen</td>
      <? IF WebAdminLoaded ?><td>Action</td><? ENDIF ?>
    </tr>
  </thead>
  <tbody>
  <? LOOP UserLoop ?>
    <tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
      <td><? VAR Username ?></td>
      <td><? VAR LastSeen DEFAULT="- unknown -" ?></td>
      <? IF WebAdminLoaded TOP ?><td><span class="nowrap">
      <strong><a href="<? VAR URIPrefix TOP ?>/mods/global/webadmin/edituser?user=<?VAR Username ESC=URL?>">Edit</a></strong>
      <? IF !IsSelf ?> / <strong><a href="<? VAR URIPrefix TOP ?>/mods/global/webadmin/deluser?user=<?VAR Username ESC=URL?>">Delete</a></strong><? ENDIF ?>
      </span></td><? ENDIF ?>
    </tr>
    <? ENDLOOP ?>
  </tbody>
</table>

<? INC Footer.tmpl ?>
