<? INC Header.tmpl ?>

<h1>Notes</h1>
<form method="post" action="<? VAR URIPrefix TOP ?><? VAR ModPath ?>addnote">
	<? INC _csrf_check.tmpl ?>
  <h2>Add a Note</h2>
  <table class="table">
    <tr>
      <td><strong>Key:</strong></td>
      <td><input type="text" name="key" size="8" /></td>
    </tr>
    
    <tr>
			<td><strong>Note:</strong></td>
      <td><input type="text" name="note" size="40" /></td>
    </tr>
  </table>
  <input type="submit" class="btn btn-success" name="add" value="Add Note" />
</form>

<h2>Existing Notes</h2>
<? IF !NotesLoop ?>
<p>You have no notes to display.</p>
<? ELSE ?>

<table class="table">
	<thead>
		<tr>
			<td><strong>Key</strong></td>
			<td><strong>Note</strong></td>
      <td><strong>Delete</strong></td>
		</tr>
	</thead>
	<tbody>
		<? LOOP NotesLoop ?>
		<tr>
			<td><? VAR Key ?></td>
			<td><? VAR Note ?></td>
			<td><a href="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>delnote?key=<? VAR Key ESC=URL,HTML ?>"><strong>Delete</strong></a></td>
		</tr>
		<? ENDLOOP ?>
	</tbody>
</table>
<? ENDIF ?>

<? INC Footer.tmpl ?>
