<? INC Header.tmpl ?>

<div class="textsection">
	<?IF LoggedIn ?>

		<h2>Welcome!</h2>	
		<p>Welcome to bnc.im! If you need any help using our service or connecting to IRC, please join <strong>#bnc.im</strong> on <strong>irc.interlinked.me or irc.freenode.net</strong> and ping any operator, who will be happy to help. We also have a <a href="https://bnc.im/webchat.html">webchat client</a> which can take you directly to our support channel. If all else fails, you can email us at <a href="mailto:admin@bnc.im">admin@bnc.im</a>.
            
		<h2>Connecting</h2>
		<p>The bouncer is listening on all normal IRC ports (6667 for plaintext or 6697 for SSL). For connection instructions, please see our <a href="http://bnc.im/setup.html">setup page</a>.</p>
        
        <h2>Adding More Networks</h2>
        <p>To add new networks to your bnc.im account (we allow up to <strong>3</strong> per user), please join us in <strong>#bnc.im</strong> on <strong>irc.interlinked.me or irc.freenode.net</strong> and ask an operator. You can also use the <a href="https://bnc.im/webchat.html">webchat client</a>.</p>
	
	<?ELSE ?>
		<h2>Welcome</h2>
		<p>Welcome to bnc.im. We are a public IRC bouncer service that offers free <a href="http://znc.in">znc</a> user accounts for up to three networks.</p>
        
		<h2>Registrations</h2>
		<p>For more information on registrations, please visit our <a href="http://bnc.im/">main website</a> or visit us on IRC in <strong>#bnc.im</strong> on <strong>irc.interlinked.me or irc.freenode.net</strong> and type <em>!request</em>. You can also use our <a href="https://bnc.im/webchat.html">webchat client</a> to do this.</p>
		
	<? ENDIF ?>

</div>

<? INC Footer.tmpl ?>
