<? INC Header.tmpl ?>

<div class="textsection">
	<?IF LoggedIn ?>

		<h2>Welcome, <? VAR SessionUser DEFAULT="Guest" ?>!</h2>	
		<p>Welcome to bnc.im! If you need any help using our service or connecting to IRC, please join <strong>#bnc.im</strong> on <strong>irc.interlinked.me or irc.freenode.net</strong> and ping any operator, who will be happy to help. We also have a <a href="https://bnc.im/webchat.html">webchat client</a> which can take you directly to our support channel. If all else fails, you can email us at <a href="mailto:admin@bnc.im">admin@bnc.im</a>.
            
		<h2>Connecting</h2>
		<p>The bouncer is listening on all normal IRC ports (6667 for plaintext or 6697 for SSL). For connection instructions, please see our <a href="http://bnc.im/setup.html">setup page</a>.</p>
        
        <h2>Adding More Networks</h2>
        <p>To add new networks to your bnc.im account (we allow up to <strong>3</strong> per user), please join us in <strong>#bnc.im</strong> on <strong>irc.interlinked.me or irc.freenode.net</strong> and ask an operator. You can also use the <a href="https://bnc.im/webchat.html">webchat client</a>.</p>
	
	<?ELSE ?>
  <div class="row login">
    <div class="col-md-6 centerbox">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">bnc.im panel login</h1>
        </div>

        <div class="panel-body">
          <form accept-charset="UTF-8" method="post" action="/login" id="login" role="form" class="form-horizontal">
            <input type="hidden" name="submitted" value="1" />
            <fieldset>
              <div class="row">
                <div class="form-group">
                  <label for="user" class="col-lg-4 control-label">Username</label>
                  <div class="col-lg-6">
                    <input class="form-control" placeholder="Username" name="user" type="text">
                  </div><br />
                </div>
                <div class="form-group">
                  <label for="pass" class="col-lg-4 control-label">Password</label>
                  <div class="col-lg-6">
                    <input class="form-control" placeholder="Password" name="pass" type="password" value="">
                  </div><br />
                </div></div><hr />
                <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-primary">Login</button>
                </div>
              </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div><br /><br />		
	<? ENDIF ?>

</div>

<? INC Footer.tmpl ?>
