    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://bnc.im/">bnc.im</a>
        </div>
      
        <div class="navbar-collapse collapse">
          <? IF LoggedIn ?>
          <? INC Donate.tmpl ?>
                
          <ul class="nav navbar-nav">
            <li<? IF !ModName && PageName == "index" ?> class="active"<? ENDIF ?>><a href="/">Web Admin Index</a></li>
            <li<? IF Active ?> class="active"<? ENDIF ?>><a href="/mods/global/webadmin/edituser">Settings</a></li>
            <? IF GlobalModLoop ?>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Global Modules <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <? LOOP GlobalModLoop SORTASC=ModName ?>
                <li><a href="<? VAR ModPath ?>"><? VAR Title ?></a></li>
                <? LOOP SubPageLoop ?>
                <li<? IF Active ?> class="active"<? ENDIF ?>><a href="<? VAR ModPath ?><? VAR PageName ?>"><? VAR Title ?></a></li>
                <? ENDLOOP ?>
                <? ENDLOOP ?>
              </ul>
            </li>
          <? ELSE ?>
          </ul>
        </div>
      </div>
    </div>
          <? ENDIF ?>

          <? IF UserModLoop ?>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Modules <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <? LOOP UserModLoop SORTASC=ModName ?>
            <li<? IF Active ?> class="active"<? ENDIF ?>><a href="<? VAR ModPath ?>"><? VAR Title ?></a></li>
            <? LOOP SubPageLoop ?>
            <li<? IF Active ?> class="active"<? ENDIF ?>><a href="<? VAR ModPath ?><? VAR PageName ?>"><? VAR Title ?></a></li>
            <? ENDLOOP ?>
            <? ENDLOOP ?>
            </ul>
          </li>
          <? ENDIF ?>
        
          <? IF NetworkModLoop ?>
          <? LOOP NetworkModLoop SORTASC=NetworkName ?>
          <? IF ModLoop ?>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><? VAR NetworkName ?> <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <? LOOP ModLoop SORTASC=ModName ?>
              <li<? IF Active ?> class="active"<? ENDIF ?>><a href="<? VAR ModPath ?>"><? VAR Title ?></a></li>
              <? LOOP SubPageLoop ?>
              <li<? IF Active ?> class="active"<? ENDIF ?>><a href="<? VAR ModPath ?>"><? VAR Title ?></a></li>
              <? ENDLOOP ?>
              <? ENDLOOP ?>
            </ul>
          </li>
          <? ENDIF ?>
          <? ENDLOOP ?>
          <? ENDIF ?>
          <? IF LoggedIn ?>
          <li><a href="https://bnc.im/webchat.html">Webchat</a></li>
          <li><a href="/logout">Logout</a></li>
          <? ENDIF ?>
        </ul>
      </div>
    </div>
  </div>

