          <? LOOP ErrorLoop ?>
          <div class="alert alert-error"><? VAR Message ?></div>						
          <? ENDLOOP ?>

          <? LOOP SuccessLoop ?>
          <div class="alert alert-success"><? VAR Message ?></div>
          <? ENDLOOP ?>
