<? INC Header.tmpl ?>

<h1>Certificate</h1>
<? IF Cert ?>
<p>You already have a certificate set, use the form below to overwrite the current certificate. Alternatively click <a href="<? VAR URIPrefix TOP ?><? VAR ModPath ?>delete">here</a> to <a href="<? VAR URIPrefix TOP ?><? VAR ModPath ?>delete">delete</a> your certificate.</p>
<? ELSE ?>
<p>You do not have a certificate stored. Use the text area below to add one.</p>
<? ENDIF ?>

<form method="post" action="<? VAR URIPrefix TOP ?><? VAR ModPath ?>update">
	<? INC _csrf_check.tmpl ?>
	<textarea name="cert" style="height: 300px; width: 300px;"></textarea><br /><br />
  <input type="submit" class="btn btn-success" name="add" value="Update" />
</form>

<? INC Footer.tmpl ?>
