<? INC Header.tmpl ?>

<form action="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>" method="post">
	<? INC _csrf_check.tmpl ?>
  <h2>Q Module</h2>
  <h3>Authentication</h3>
  <table class="table">
    <tr>
      <td><strong>Username:</strong></td>
      <td><input type="text" name="user" value="<? VAR Username ?>" class="half" maxlength="128"
							   title="Please enter a username." /></td>
    </tr>
    
    <tr>
			<td><strong>Password:</strong></td>
      <td><input type="password" name="password" class="half"
						   title="Please enter a password." autocomplete="off" /></td>
    </tr>
  </table>

  <h3>Flags</h3>
  <table class="table">
    <thead>
      <tr>
        <td><strong>Flag</strong></td>
        <td><strong>Enabled?</strong></td>
      </tr>
    </thead>
    
    <tbody>
  	<? LOOP OptionLoop ?>
      <tr>
        <td><? VAR DisplayName ?></td>
        <td><input type="checkbox" name="<? VAR Name ?>" id="opt_<? VAR Name ?>" value="1"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /></td>
      </tr>
    	<? ENDLOOP ?>
    </tbody>
  </table>

  <input type="submit" class="btn btn-success" value="Save" /><br /><br />
</form>

<? INC Footer.tmpl ?>
